<div class="art-info">
</div>
<!--<mat-form-field>-->
<!--    <input matInput (keyup)="applyFilter($event.target.attendanceRate)" placeholder="Filter">-->
<!--</mat-form-field>-->

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">



<!--TODO: you need to build a table here. Hint: https://stackblitz.com/angular/earpboymlxlj?file=app%2Ftable-basic-example.ts


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row > {{user.firstName}}</tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
  
</table>  -->

<img src= {{picture.imageLink}}>
<img class="border1"  src= {{picture.imageLink}}>
<img class= "border2" src= {{picture.imageLink}}>
<p>{{picture.pieceInfo}}</p>

<button (click)="artistProfile(picture.artistName)" >{{picture.artistName}}</button>

