table {
    width: 100%;
}

.art-info{
    display: flex;
    height:100%;


}
.border1{
    height: 100px;
    width: 100px;
    border: 5px solid #555;
}
.border2{
    height: 100px;
    width: 100px;
    border: 5px solid #000;
}